<h2>About me</h2>
<p>I know it's confusing so you can just settle at calling me Vahid (pronounced Váhid). In other news I'm a student from Cluj-Napoca. You can follow my blog to get to know me better without actually contacting me (like a true introvert 👋). Also, take a look at my <a href="https://tastedive.com/frvl">Tastedive profile</a> and criticize my taste in everything I like.</p>

<h2>Stuff</h2>
<ul>
  <li>Managing Editor at <a href="https://vilagnegyzet.eu">Világnégyzet</a></li>
  <li>Mobile friendly</li>
  <li>Helping to translate some web pages <a href="https://write.as/thanks">here</a> and there</li>
</ul>

<h2>Contact</h2>

<p>IF it is imperative you contact me than you can do so by sending me an <a href="mailto:frvl@protonmail.com">email</a> or simply looking me up on the social networks of today and messaging me there, fellow teenagers.</p>

<!--
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
-->