<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vahid</title>

  <link rel="apple-touch-icon" href="{{ site.baseurl }}{{ site.compass.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

  <meta name="author" content="Filep-Rudamas Vahid-Lászlo">
  <meta name="description" content="A lil' site located somewhere on these vast interwebs. This scripture speaks of the being Vahid, an 18 year old student from Cluj-Napoca."/>

  <!-- Open Graph tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Filep-Rudamas Vahid-Lászlo"/>
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
  <meta property="og:image" content="https://frvl.github.io/images/cover.jpg"/>
  <meta property="og:description" content="A lil' site located somewhere on these vast interwebs. This scripture speaks of the being Vahid, an 18 year old student from Cluj-Napoca."/>
  <meta property="og:site_name" content="Filep-Rudamas Vahid-Lászlo">

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Filep-Rudamas Vahid-Lászlo">
  {% if site.twitter.site %}
  <meta name="twitter:site" content="{{ site.twitter.site }}">
  {% endif %}
  {% if site.twitter.creator %}
  <meta name="twitter:creator" content="{{ site.twitter.creator }}">
  {% endif %}
  <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta name="twitter:description" content="A lil' site located somewhere on these vast interwebs. This scripture speaks of the being Vahid, an 18 year old student from Cluj-Napoca.">
  <meta name="twitter:image:src" content="https://frvl.github.io/images/cover.jpg">

  {% if site.compass.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
