<!DOCTYPE html>
<html>

<!--

________/\\\\\______________________________/\\\\\\____
 ______/\\\///______________________________\////\\\____
  _____/\\\_____________________________________\/\\\____
   __/\\\\\\\\\____/\\/\\\\\\\___/\\\____/\\\____\/\\\____
    _\////\\\//____\/\\\/////\\\_\//\\\__/\\\_____\/\\\____
     ____\/\\\______\/\\\___\///___\//\\\/\\\______\/\\\____
      ____\/\\\______\/\\\___________\//\\\\\_______\/\\\____
       ____\/\\\______\/\\\____________\//\\\______/\\\\\\\\\_
        ____\///_______\///______________\///______\/////////__

	FILEP-RUDAMAS VAHID-LASZLO
	A PLEASURE TO BE HERE.
	May, 2019
	frvl.kaleidoszkop.ro

  -->

  {% include head.html %}
  <body>

  {{ content }}

  </body>
</html>
